<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kolefni - Home</title>
  <link rel="stylesheet" href="user.css">
</head>
<body>
    <div class="container">
        <header>
          <img th:src="@{kolefni.png}" />
        </header>
        <main class="home">
          <nav>
            <ul>
              <li class="switch clicked" id="el">Electricity</li>
              <li class="switch" id="water">Water</li>
            </ul>
          </nav>
          <div id="electricity-calculator" class="calculator active">
              <form action="#" th:action="@{/home}" th:object="${electricityDTO}" method="post">
                  <label for="unit">Electricity Unit:</label>
                  <select name="unit" id="unit">
                      <option value="KWH">kWh</option>
                      <option value="MWH">mWh</option>
                  </select><br><br>
                  <label for="amount">Electricity Amount:</label>
                  <input type="number" name="amount" id="amount"><br><br>
                  <label for="country">Country:</label>
                  <select id="country" name="country">
                      <option th:each="country : ${electricityDTO.countries}" th:value="${country}" th:text="${country}"></option>
                  </select>
                  <label>
                      <input type="checkbox" name="saveEntry" value="true"> Save this entry
                  </label>
                  <input type="submit" value="Calculate">
              </form>

              <div th:if="${electricityDTO.footprint != 0.0}">
                  <p>The carbon footprint for your electricity usage is: <span th:text="${#numbers.formatDecimal(electricityDTO.footprint, 3, 2)}"></span>
                      <span th:switch="${electricityDTO.unit}">
                            <span th:case="'KWH'">kg</span>
                            <span th:case="'MWH'">lb</span>
                      </span> CO2e
                  </p>
              </div>
          </div>
          <div id="water-calculator" class="calculator">
            <h2>Water</h2>
          </div>
        </main>
    </div>
    <script src="main.js"></script>
</body>
</html>